<div class="container">

        <h1>Your awesome info</h1>

        <div class="card">
          <div class="card-body">

        <pre>
<%= @info %>
        </pre>
        </div>
        </div>

</div> <!-- /container -->

